@charset "utf-8";

/* 반응형 600 시작 */
@media all and (max-width: 600px){
/* 메뉴 시작 */
.menu_more_m_close,
.menubar{
	height: 80px;
	font-size: 18px;
}
.menu_more_m_close{
	right: 0;
	width: 140px;
}
.logo{width: 25%;}
.logo img{
	width: 70%;
	min-width: auto;
}
.menu{display: none;}
.sns{display: none;}
.menuicon_m{display: inline-block;} /* 메뉴 모바일 */
.menu_more_m_close3,
.menu_more_m_close3::after,
.menu_more_m_close3::before,
.menu_slash_m,
.menu_slash_m::after,
.menu_slash_m::before{
	position: absolute;
	display: inline-block;
	content: '';
	width: 60px;
	height: 8px;
	border-radius: 20px;
	box-shadow: inset 0 0 0 50px #0b0b0b;
	transition: transform .4s ease-in-out, box-shadow .5s ease-in-out;
}
.menu_more_m_close3,
.menu_more_m_close3::after,
.menu_more_m_close3::before{box-shadow: inset 0 0 0 50px white;}
.menu_slash_m::after{transform: translateY(-17px);}
.menu_slash_m::before{transform: translateY(17px);}
.menu_more_m_close3,
.menuicon_m.active .menu_slash_m{
	transform: translateX(-80px);
	box-shadow: none;
}
.menu_more_m_close3::after,
.menuicon_m.active .menu_slash_m::after{transform: translateX(80px) translateY(0) rotate(45deg);}
.menu_more_m_close3::before,
.menuicon_m.active .menu_slash_m::before{transform: translateX(80px) translateY(0) rotate(-45deg);}
.menu_more_m{
	opacity: 0;
	top: -100%;
	left: 0;
	position: fixed;
	z-index: 1000;
	background-color: rgba(11,11,11,0.8);
	width: 100%;
	height: 100%;
	transition: all .8s ease-in-out;
} /* 메뉴 모바일 더보기 */
.menu_more_m.active{
	opacity: 1;
	display: block;
	top: 0;
}
.menu_box_m{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 600px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
} /* 메뉴 모바일 더보기 리스트 */
.menu_btn_m{
	color: white;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
}
.menu_btn_m:nth-of-type(1){margin-top: 0;}
.menu_btn_m > span:nth-of-type(1){font-family: "notosans", sans-serif; font-size: 34px;}
.menu_btn_m > span:nth-of-type(2){font-family: "dream", sans-serif; font-size: 23px;}
.sns_m{
	margin-top: 55px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.sns_m li{
	margin-left: 45px;
	height: 58px;
}
.sns_m li:nth-of-type(1){margin-left: 0;}
.sns_m li img{
	width: auto;
	height: 100%;
	max-height: 105px;
}
/* 메뉴 끝 */

/* 창업문의 고정 시작 */
#quick_menu{
	position: fixed;
	top: auto;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 199px;
	padding-bottom: 0;
	background-color: transparent;
	text-align: left;
	border: none;
	transition: bottom .8s ease-in-out;
}
#quick_menu.active{width: 100%; bottom: -157px;}
.quick_close_m{
	display: inline-block;
	background-color: #6acdb1;
	border-radius: 0 6px 0 0;
	width: 42px;
	height: 42px;
	cursor: pointer;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.quick_close_m > img{
	width: 52%;
	height: auto;
}
.quick_menu_m{
	background-color: white;
	width: 100%;
	height: 157px;
	padding: 8px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.quick_title{display: none;}
.quick_menu_call{margin-top: 0; width: 172px; height: 23px; margin-bottom: 10px;}
.quick_menu_call > img:nth-of-type(1){display: none;}
.quick_menu_call > img:nth-of-type(2){
	display: inline-block;
	width: auto;
	height: 100%;
	max-height: 35px;
} /* 창업문의 고정 이미지 모바일 */
.quick_menu_box{position: relative;}
.quick_menu_info{
	width: 65%;
	height: 105px;
	float: left;
}
.quick_info > input,
.quick_submit > input{
	height: 70px;
	border-radius: 7px;
}
.quick_info > input{
	float: left;
	width: 32.5%;
	height: 51px;
	margin-top: 0;
	margin-left: 0;
}
.quick_info:nth-of-type(1) > input,
.quick_info:nth-of-type(2) > input{width: 49.5%;}
.quick_info:nth-of-type(2) > input{margin-left: 1%;}
.quick_info:nth-of-type(3) > input{width: 100%; margin-top: 3px;}
.quick_submit > input{width: 98%; height: 100%; font-size: 1.3em; float: right;}
.quick_info > input{
	font-size: 1.3em;
	margin-top: 0;
	text-indent: 0;
	text-align: center;
}
.quick_submit{
	width: 35%;
	height: 105px;
	float: left;
}
.policy_wrap{
	margin: 0;
	position: absolute;
	right: 0;
	top: -32px;
}
.policy_chk_box{margin-right: 2px;}
.policy_chk_box > input{
	width: 16px;
	height: 16px;
}
.policy{font-size: 15px;}
.p_popup{
	min-width: 95%;
	max-height: 450px;
	font-size: 15px;
	padding: 2em;
}
.p_popup_close{font-size: 15px;}
/* 창업문의 고정 끝 */

/* 메인슬라이드 시작 */
.main_wrap{max-height: 800px;}
.main_title_box{
	width: 100%;
	min-width: none;
	height: 100%;
	margin: 0 auto;
}
.main_title{
	width: 80%;
	text-align: center;
}
.main_title_btn{
	width: auto;
	height: 50px;
}
.main_title_left{left: -5%}
.main_title_left:hover{left: -7%}
.main_title_right{right: -5%}
.main_title_right:hover{right: -7%}
.main_title1{font-size: 25px;}
.main_title2_4{font-size: 38px;}
.main_title5{
	margin-top: 35px;
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.main_title5::after{width: 250px;}
.main_title6{
	font-size: 28px;
	margin-top: 25px;
}
.main_title6 > strong{font-size: 58px;}
.incomebox{
	font-size: 20px;
	margin-top: 10px;
}
.main_title_last{margin-top: 25px;}
/* 메인슬라이드 끝 */
.slider{
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
  position : absolute;
  right: 5px;
  bottom: 50px;
}
#prev,
#next{transform: rotate(90deg);}
.main_preview{
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
  align-items : center;
  margin : 10px 0;
}
.main_preview .thumbnail{
  width : 100px;
  margin : 10px 0;
  opacity : .4;
  cursor : pointer;
}

/* 페이지 공통 */
.subtitle_info{font-size: 17px;}
.title_info{font-size: 34px;}
.normal_info{font-size: 15px;}
.normal_info > br{display: none;}
.br_m{display: block;}
/* 2번째 페이지 시작 */
.wrap2_box{
	width: 100%;
	padding: 0 50px;
	text-align: center;
}
.wrap2_info{width: 100%;}
.wrap2_info > p:nth-of-type(1){margin-top: 15px;}
.wrap2_info > a{
	font-size: 21px;
	width: 290px;
	height: 77px;
	line-height: 67px;
	border-radius: 35px;
	margin: 30px auto 0;
}
.wrap2_info > a::before{
  width : 100%;
  height : 0;
}
.wrap2_info > a:hover{
	transform: translateY(15px);
	box-shadow: 0 -15px 5px rgba(0,0,0,0.45);
}
.wrap2_info > a:hover::before{height : 180%;}
.wrap2_img{display: none;}
/* 2번째 페이지 끝 */

/* 3번째 페이지 시작 */
.wrap3_info_box{
	width: 100%;
	max-width: none;
	padding-left: 0;
}
.wrap3_info{
	max-width: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}
/* 3번째 페이지 끝 */

/* 4번째 페이지 시작 */
.wrap4_title{font-size: 20px;}
.wrap4 h3 span{padding: 0 15px;}
/* 4번째 페이지 끝 */
} /* 반응형 600 끝 */
