@charset "utf-8";

body{position: relative;}

/* 메뉴 시작 */
.menubar{
	width: 100%;
	background-color: rgba(255,255,255,1);
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	z-index: 256;
	white-space: nowrap;
	font-family: "notosans", sans-serif;
	font-size: 26px;
	color: #0b0b0b;
	box-shadow: 0 15px 10px rgba(12,12,12,0.45);

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.menu_more_m_close,
.menubar{
	position: fixed;
	height: 90px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu_more_m_close{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.logo{
	width: 15%;
	max-width: 270px;
	height: 100%;
	background-color: #0b0b0b;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.logo img{
	width: 50%;
	max-width: 182px;
	min-width: 142px;
	height: auto;
}
.menu{
	width: 48%;
	height: 100%;
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#menu_marker{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	background-color: #0b0b0b;
	bottom: 0;
	-ms-transition: .5s;
	transition: .5s;
	border-radius: 8px;
}
.menu .menu_btn{
	height: 50%;
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
	-ms-transition: all .5s ease-in-out, color .1s linear;
	transition: all .5s ease-in-out, color .1s linear;
	overflow-y: hidden;
}
.menu .menu_btn > span:first-child,
.menu .menu_btn > span:last-child{
	display: block;
	width: 100%;
	height: 100%;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.menu .menu_btn > span:last-child{
	padding-top: 10%;
	font-family: dream;
	font-weight: 500;
	font-size: 20px;
}
.menu .menu_btn:hover{color: #6acdb1;}
.menu .menu_btn:hover > span{transform: translateY(-100%);}
.sns{
	height: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 80px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.sns li{
	margin-left: 25px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sns li:first-child{margin-left: 0;}
.sns li img{
	width: 95%;
	height: auto;
}
.sns li:nth-of-type(1) img{max-width: 30px;}
.sns li:nth-of-type(2) img{max-width: 35px;}
.sns li:nth-of-type(3) img{max-width: 30px;}
.sns li:nth-of-type(4) img{max-width: 32px;}
.sns li:hover{animation: jelly_ani .8s ease-in-out;}
.menuicon_m{display: none;} /* 메뉴 모바일 */
.menu_box_m{display: none;} /* 메뉴 모바일 더보기 리스트 */
/* 메뉴 끝 */

/* 창업문의 고정 시작 */
#quick_menu{
	position: absolute;
	top: 200px;
	right: 70px;
	width: 300px;
	height: auto;
	padding-bottom: 1.5em;
	background-color: white;
	z-index: 255;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid white;
	transition: top .8s ease-in-out;
}
#quick_menu *{font-family: "dream", sans-serif;}
.quick_close_m{display: none;}
.quick_title{
	width: 100%;
	background-color: #0b0b0b;
	color: white;
	font-size: 1.5em;
	padding: .2em 0;
	position: relative;
}
.quick_title > strong{font-weight: 400;}
.quick_title > span{
	width: 1.7em;
	height: 100%;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
}
.quick_title > span img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
}
.quick_title > span img:nth-of-type(1){width: 16px;}
.quick_title > span img:nth-of-type(2){width: 67px; opacity: 0;}
#quick_menu.active{
	width: 106px;
	border: none;
	background-color: transparent;
}
#quick_menu.active #smsForm_fixed{display: none;}
#quick_menu.active .quick_title{
	height: 120px;
	background-color: transparent;
	padding: 0;
	font-size: 1.2em;
}
#quick_menu.active .quick_title > strong{
	background-color: #0b0b0b;
	display: inline-block;
	width: 100%;
}
#quick_menu.active .quick_title > span{
	top: auto;
	left: 0;
	margin: 0 auto;
	bottom: 0;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #6acdb1;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.45);
}
#quick_menu.active .quick_title > span img:nth-of-type(1){opacity: 0;}
#quick_menu.active .quick_title > span img:nth-of-type(2){opacity: 1;}
.quick_menu_call{
	margin-top: 15px;
	display: block;
}
.quick_menu_call > img:nth-of-type(2){display: none;} /* 창업문의 고정 이미지 모바일 */
.quick_info > input,
.quick_submit > input{
	width: 238px;
	height: 40px;
	border-radius: 20px;
}
.quick_info > input{
	background-color: #ededed;
	color: #0b0b0b;
	font-weight: 300;
	margin-top: 12px;
	text-indent: 12px;
}
.quick_submit > input{
	background-color: #6acdb1;
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	cursor: pointer;
}
.policy_wrap{margin: 10px auto;}
.policy_chk_box,
.policy{display: inline-block;}
.policy{
	font-size: 14px;
	font-weight: 400;
}
.policybtn{
	color: #6acdb1;
	cursor: pointer;
}
#policy_popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 300;
	display: none;
}
#policy_popup.show{
	animation: start_ani .8s ease-in-out;
	display: block;
}
.policy_layout{
	content : '';
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
}
.p_popup{
	font-family: "dream", sans-serif;
	font-weight: 300;
	font-size: 16px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3em;
	min-width: 60%;
	max-height: 800px;
	background-color: white;
	border: 8px solid #6acdb1;
	overflow-y: scroll;
}
.p_popup p:nth-of-type(1){
	padding-bottom: 1em;
	border-bottom: 2px solid #ccc;
}
.p_popup_close{
	float: right;
	margin-top: 1em;
	padding: .5em 1em;
	display: inline-block;
	background-color: #6acdb1;
	cursor: pointer;
	color: white;
	font-family: "notosans", sans-serif;
	font-size: 18px;
	box-shadow: inset 0 0 5px white;
}
/* 창업문의 고정 끝 */

/* 메인슬라이드 시작 */
.main_wrap{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	transition: background-image .8s ease-in-out;
}
.main_title_box{
	background-color: rgba(0,0,0,0.8);
	width: 755px;
	height: 100%;
	padding-top: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main_title{
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 100%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.main_title_btn{
	position : absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: left .8s ease-in-out, right .4s ease-in-out;
}
.main_title_left{left: -10%}
.main_title_left:hover{
	animation: start_ani 1s ease-in-out;
	left: -12%
}
.main_title_right{right: -10%}
.main_title_right:hover{
	animation: start_ani 1s ease-in-out;
	right: -12%
}
.main_title > p,
.main_title > h1,
.main_title > div{
	color: white;
	font-family: "dream", sans-serif;
	font-weight: 300;
}
.main_title1{font-size: 30px;}
.main_title1 > strong{font-weight: 700;}
.main_title2_4{
	font-size: 46px;
	margin-top: 30px;
}
.main_title2_4 > strong{font-weight: 700;}
.main_title5{
	font-size: 24px;
	margin-top: 30px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main_title5::after{
	display: inline-block;
	content: "";
	margin-left: 20px;
	width: 310px;
	height: 2px;
	background-color: white;
}
.main_title6{
	font-size: 33px;
	margin-top: 30px;
}
.main_title6 > strong{
	font-size: 70px;
	font-weight: 700;
}
.incomebox{font-size: 24px;}
.main_title_last{margin-top: 30px;}
/* 메인슬라이드 끝 */

.slider{
	display: -webkit-box;
	display: -ms-flexbox;
  display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
  align-items : center;
  position : absolute;
  right: 30px;
  bottom: 50px;
}
.sliderbtn{
  position : absolute;
  top: -35px;
  margin: 0 auto;
  width: 0;
  left : 0;
  right : 0;
  padding : 10px 60px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-align: center;
}
.sliderbtn.active::before{
  content: '';
  padding: 15px 65px;
  border: 1px solid #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all .8s ease-in-out;
}
#slider_stop,
#slider_play{
  position : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	font-family: "notosans", sans-serif;
  font-weight: 400;
  font-style: italic;
  transition: all .8s ease-in-out;
  border-radius: 15px;
}
#slider_stop{/**/background-color: rgba(0,0,0,0.8);}
#slider_play{
  display : none;
  color: black;
}
#slider_stop.active{display : none;}
#slider_play.active{
  display : block;
  box-shadow: inset 0 0 0 50px rgba(255,255,255,0.8);
}
#prev,
#next{
  width: 20px;
  cursor : pointer;
}
.main_preview{
	display: -webkit-box;
	display: -ms-flexbox;
  display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
  align-items : center;
  margin : 0 40px;
}
.main_preview .thumbnail{
  width : 100px;
  margin : 0 10px;
  opacity : .4;
  cursor : pointer;
}
.main_preview .thumbnail.active{
  display: block;
  border : 3px solid white;
  width : 140px;
  opacity : 1;
  transition: opacity .8s ease-in-out;
}

/* 페이지 공통 */
.flex_info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.subtitle_info{
	font-size: 21px;
	font-weight: 200;
}
.title_info{
	font-size: 41px;
	font-weight: 500;
}
.normal_info{
		font-size: 18px;
		font-weight: 200;
}
.br_m{display: none;}
/* 2번째 페이지 시작 */
.wrap2{
	width: 100%;
	height: 635px;
	background-color: #f2f2f2;
	background-repeat: repeat-x;
	font-family: "dream", sans-serif;
}
.wrap2_box{
	margin: 0 auto;
	width: 80%;
	max-width: 1280px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 100px;
}
.wrap2_info{
	float: left;
	width: 70%;
	height: 100%;
	color: #2a2a2a;
}
.wrap2_info > p:nth-of-type(1){margin-top: 25px;}
.wrap2_info > a{
	font-size: 26px;
	font-weight: 500;
	position: relative;
	color: #6acdb1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 5px solid #6acdb1;
	text-align: center;
	width: 336px;
	height: 80px;
	line-height: 70px;
	border-radius: 40px;
	margin-top: 45px;
	transition: color .5s ease-in-out, background-color .6s ease-in, transform .5s linear, box-shadow .5s linear;
	overflow: hidden;
	z-index: 1;
}
.wrap2_info > a::before{
	content : "";
  position : absolute;
	top: 0;
  left: 0;
  width : 0;
  height : 100%;
  background-color: #6acdb1;
  z-index: -1;
  transition: .5s;
}
.wrap2_info > a:hover{
	color: white;
	transform: translateX(15px);
	background-color: #6acdb1;
	box-shadow: -15px 0 5px rgba(0,0,0,0.45);
}
.wrap2_info > a:hover::before{width : 180%;}
.wrap2_img{
	float: right;
	width: 30%;
	height: 100%;

	display: -webkit-box;
	display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
  align-items : center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.wrap2_img img{
	width: 60%;
	min-width: 330px;
	height: auto;
}
/* 2번째 페이지 끝 */

/* 3번째 페이지 시작 */
.wrap3{
	width: 100%;
	height: 536px;
	color: white;
	font-family: "dream", sans-serif;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
}
.wrap3_info_box{
	width: 70%;
	max-width: 1077px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 50px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	z-index: 3;
	right: 0;
	top: 0;
}
.wrap3_info{
	width: 100%;
	max-width: 705px;
	height: 100%;
}
.wrap3_info > .title_info{margin-top: 5px;}
.wrap3_info > .normal_info:nth-of-type(1){margin-top: 20px;}
/* 3번째 페이지 끝 */

/* 4번째 페이지 시작 */
.wrap4{
	background-color: #f2f2f2;
	width: 100%;
	height: 636px;
	font-family: "dream", sans-serif;
	color: #2a2a2a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 45px;
}
.wrap4_title{
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
.wrap4 h3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wrap4 h3 span{padding: 0 35px;}
.wrap4_title::after,
.wrap4_title::before{
	content: '';
	display: inline-block;
	height: 3px;
	background-color: #2a2a2a;

	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
}
.wrap4_box{
	margin-top: 70px;
	color: white;
	-ms-overflow-style: auto;
	overflow-x: auto;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wrap4_box2{
	position: relative;
	margin-left: 33px;
	min-width: 292px;
	height: 402px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	cursor: pointer;
}
.wrap4_box2:nth-of-type(1){margin-left: 0;}
.wrap4_box2 span{
	display: inline-block;
	position: absolute;
	z-index: -1;
	background-color: rgba(0,0,0,0.45);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color .5s ease-in-out;
}
.wrap4_box2:hover span{background-color: rgba(0,0,0,0.8);}
.wrap4_box2::before,
.wrap4_box2::after,
.wrap4_box2 > div::before,
.wrap4_box2 > div::after{
	content: '';
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	transition: all .3s ease-in-out;
	z-index: 3;
}
.wrap4_box2::before,
.wrap4_box2 > div::before{
	width: 0;
	height: 6px;
}
.wrap4_box2::after,
.wrap4_box2 > div::after{
	width: 6px;
	height: 0;
}
.wrap4_box2::before{top: 0; left: 0;}
.wrap4_box2::after{top: 0; right: 0; transition-delay: .3s;}
.wrap4_box2 > div::before{bottom: 0; right: 0; transition-delay: .6s;}
.wrap4_box2 > div::after{bottom: 0; left: 0; transition-delay: .9s;}
.wrap4_box2:hover::before,
.wrap4_box2:hover > div::before{
	width: 100%;
	box-shadow: 0 0 15px white;
	background-color: rgba(255,255,255,1);
}
.wrap4_box2:hover::after,
.wrap4_box2:hover > div::after{
	height: 100%;
	box-shadow: 0 0 15px white;
	background-color: rgba(255,255,255,1);
}
.wrap4_box2 > div{
	z-index: 1;
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.wrap4_info{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.wrap4_box2 > div p:nth-of-type(2){margin-top: 30px;}
.wrap4_box2 > div p:nth-of-type(3){margin-top: 10px;}
.wrap4_box2 > div p{transition: transform .5s ease-in-out;}
.wrap4_box2:hover > div p{transform: scale(1.1);}
/* 4번째 페이지 끝 */
